
svg {
  margin: 0 auto;
  display: block;
}

@keyframes asteroid {
  0% {
    opacity: 1;
    transform: translateX(105%) translateY(-15%);
  }
  25% {
    opacity: 1;
    transform: translateX(-15%) translateY(105%);
  }
  100% {
    opacity: 1;
    transform: translateX(-15%) translateY(105%);
  }
}

@keyframes stars {
  from {
    opacity: 0;
  }
  to {
    opacity: .9;
  }
}

@keyframes circle1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet {
  transform-origin: 48% 48%;
}

.anim1 {
  animation: circle1 5s infinite linear;
}

.anim2 {
  animation: circle1 19s infinite linear;
}

.anim3 {
  animation: circle1 8s infinite linear;
}

.anim4 {
  animation: circle1 11s infinite linear;
}

.anim5 {
  animation: circle1 6s infinite linear;
}

.anim6 {
  animation: circle1 15s infinite linear;
}

.anim7 {
  animation: circle1 8s infinite linear;
}

.anim8 {
  animation: circle1 10s infinite linear;
}

.star1 {
  opacity: 0;
  animation: stars 5s infinite alternate;
}

.star2 {
  animation: stars 5s infinite alternate;
  animation-delay: 5s;
}

.asteroidSVG {
  opacity: 0;
  animation: asteroid 13s infinite;
  animation-delay: 10s;
}

.asteroidTail {
  transform: rotate(-45deg);
}